<!-- Sidebar -->
<div class="sidebar sidebar-style-2" data-background-color="dark2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="https://avatars.githubusercontent.com/u/60948849?v=4" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							Savio

							<!-- Adicionar Nome do usuario pela api -->

							<span class="user-level">
								Savio@gmail.com

								<!-- Adicionar email do usuario pela api -->


							</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="#profile">
									<span class="link-collapse">Perfil</span>
								</a>
							</li>
							<li>
								<a href="{{ url_for('base_blueprint.logout') }}">
									<span class="link-collapse">Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-item {% if 'index' in segment %} active {% endif %}">
					<div class="collapse" id="dashboard">
						<ul class="nav nav-collapse">
							<li>
								<a href="#">
									<span class="sub-item">Dashboard</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Funcionários</h4>
				</li>
				<li class="nav-item active">
					<a href="#">
						<i class="fas fa-th-list"></i>
						<p>Cadastrar</p>
					</a>
				</li>
				<li class="nav-item active">
					<a href="#">
						<i class="fas fa-search"></i>
						<p>Consultar</p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>