/* A extensão funciona no tamnaho - 289px*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blue: #26619c;
  --text-blue: #2f5876;
  --green: #5ce5b4;
  --text: #666666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #eb7171;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 180px;
  padding: 0;
  width: 384px;
  border-radius: 1rem;
  background-color: var(--blue);
}

h1 {
  font-family: "Menlo", monospace;
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  color: var(--white);
}

a:link,
a:visited {
  color: #000000;
  outline: 0;
  text-decoration: none;
}

img {
  width: 30px;
}

.button-word {
  background-color: var(--blue);
  border-color: var(--blue);
}

.button-word-click:hover {
  color: var(--green);
}

.border {
  border-style: solid;
  height: 100%;
}

.button-word-click {
  color: var(--white);
  font-size: 18px;
}

.click {
  color: var(--white);
}

.modal-header {
  align-items: center;
  border-bottom: 0.5px solid #dadada;
}

.check-modal {
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 0 22px;
}

.modal-icons {
  justify-content: center;
  align-items: center;
  border-top: 0.5px solid #dadada;
  height: 50px;
  width: 100%;
}

.logo {
  padding: 16px;
}

.logo-icon {
  vertical-align: text-bottom;
  margin-right: 12px;
}

.version {
  color: #444;
  font-size: 18px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 22px;
}

.flex {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  width: 120px;
}

.flex .fa {
  font-size: 40px;
  color: var(--white);
}

.fa:hover {
  color: var(--green);
}

.btn-info,
.btn-info:active,
.btn-info:visited {
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}

.btn-info:hover {
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.btn-primary:hover {
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}
