{% extends "layouts/base.html" %} {% block title %} Cadastrar {% endblock %} {%
block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- Scripts -->
<script src="../../static/assets/js/medical/register-employee.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
<script>
  $(document).ready(function () {
    $('.data_nascimento_user_register').mask('00/00/0000');
    $('.telefone_user_register').mask('(00) 0000-0000');
  })
</script>

<div class="
    d-flex
    justify-content-between
    flex-wrap flex-md-nowrap
    align-items-center
    py-4
  ">
  <div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
      <ol class="mt-2 breadcrumb breadcrumb-dark breadcrumb-transparent">
        <li class="breadcrumb-item">
          <a href="#">
            <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
              </path>
            </svg>
          </a>
        </li>
        <li class="breadcrumb-item"><a href="#">Web</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          IT Professionals
        </li>
      </ol>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12 col-xl-12">
    <div class="card card-body border-0 shadow mb-4">
      <h2 class="h5 mb-4">General information</h2>
      <form method="POST" id="add-user-form">
        <div class="row">
          <div class="col-md-6 mb-3">
            <div>
              <label for="nome_user_register">First Name</label>
              <input class="form-control" id="nome_user_register" type="text" placeholder="Enter first name" required />
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div>
              <label for="last_name">Last Name</label>
              <input class="form-control" id="last_name" type="text" placeholder="Enter last name" required />
            </div>
          </div>
        </div>

        <div class="row align-items-center">
          <div class="col-md-6 mb-3">
            <label for="data_nascimento_user_register">Date of birth</label>
            <div class="input-group">
              <span class="input-group-text">
                <svg class="icon icon-xs" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                    clip-rule="evenodd"></path>
                </svg>
              </span>
              <input data-datepicker="" class="form-control" id="data_nascimento_user_register" type="text"
                placeholder="dd/mm/yyyy" required />
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label for="sexo_user_register">Genre</label>
            <select class="form-select mb-0" id="sexo_user_register" aria-label="Select the Genre">
              <option selected>Genre</option>
              <option value="1">Feminine</option>
              <option value="2">Masculine</option>
              <option value="3">Others</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="email_user_register">Email</label>
              <input class="form-control" id="email_user_register" type="email" placeholder="name@company.com" />
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <div class="form-group">
              <label for="telefone_user_register">Phone</label>
              <input class="form-control" id="telefone_user_register" type="number" placeholder="+12-345 678 910"
                required />
            </div>
          </div>
        </div>

        <h2 class="h5 my-4">Location</h2>
        <div class="row">
          <div class="col-sm-9 mb-3">
            <div class="form-group">
              <label for="endereco_user_register">Address</label>
              <input class="form-control" id="endereco_user_register" type="text"
                placeholder="Enter the employee's address" required />
            </div>
          </div>

          <div class="col-sm-3 mb-3">
            <div class="form-group">
              <label for="number">Number</label>
              <input class="form-control" id="number" type="number" placeholder="No." required />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 mb-3">
            <div class="form-group">
              <label for="city">City</label>
              <input class="form-control" id="city" type="text" placeholder="City" required />
            </div>
          </div>

          <div class="col-sm-4 mb-3">
            <label for="state">State</label>
            <select class="form-select w-100 mb-0" id="state" name="state" aria-label="State select example">
              <option selected>State</option>
              <option value="AC">AC</option>
              <option value="AL">AL</option>
              <option value="AM">AM</option>
              <option value="AP">AP</option>
              <option value="BA">BA</option>
              <option value="CE">CE</option>
              <option value="DF">DF</option>
              <option value="ES">ES</option>
              <option value="GO">GO</option>
              <option value="MA">MA</option>
              <option value="MG">MG</option>
              <option value="MS">MS</option>
              <option value="MT">MT</option>
              <option value="PA">PA</option>
              <option value="PB">PB</option>
              <option value="PE">PE</option>
              <option value="PI">PI</option>
              <option value="PR">PR</option>
              <option value="RJ">RJ</option>
              <option value="RN">RN</option>
              <option value="RO">RO</option>
              <option value="RR">RR</option>
              <option value="RS">RS</option>
              <option value="SC">SC</option>
              <option value="SE">SE</option>
              <option value="SP">SP</option>
              <option value="TO">TO</option>
            </select>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="horario_user_register">Carga horária</label>
              <input class="form-control" id="horario_user_register" type="number" placeholder="Carga horária"
                required />
            </div>
          </div>
        </div>

        <h2 class="h5 my-4">Medical Information</h2>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <div class="form-group">
              <label for="acompanhamento_medico_user_register">Medical follow-up?</label>
              <select class="form-select w-100 mb-0" id="acompanhamento_medico_user_register" name="state" aria-label="Medical follow-up?">
                <option selected>Medical follow-up?</option>
                <option value="sim">Yes</option>
                <option value="nao">No</option>
              </select>
            </div>
          </div>
          
          <div class="col-sm-6 mb-3">
            <div class="form-group">
              <label for="uso_medicacao_controlada_user_register">Medication used</label>
              <input class="form-control" id="uso_medicacao_controlada_user_register" type="text"
                placeholder="Medication used" required />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 mb-3">
            <label for="tipo_sanguineo_user_register">Blood type</label>
            <select class="form-select w-100 mb-0" id="tipo_sanguineo_user_register" name="state"
              aria-label="Tipo sanguineo">
              <option selected>Blood type</option>
              <option value="O+">O+</option>
              <option value="A+">A+</option>
              <option value="B+">B+</option>
              <option value="AB+">AB+</option>
              <option value="O-">O−</option>
              <option value="A-">A−</option>
              <option value="B-">B−</option>
              <option value="AB-">AB−</option>
            </select>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label for="disturbio_detectado_user_register">Disorder detected</label>
              <input class="form-control" id="disturbio_detectado_user_register" type="tel"
                placeholder="Disorder detected" required />
            </div>
          </div>
        </div>

        <div class="mt-3">
          <button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">
            Save all
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block javascripts %}{% endblock javascripts %}