<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Extensão - Página principal</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="assets/img/icons/favicon.png" rel="icon" />
    <link href="assets/img/icons/favicon.png" rel="apple-touch-icon" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../../static/assets/css/utils.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Header -->
    <nav
      class="navbar navbar-expand-lg fixed-top navbar-blue navbar-dark bg-light"
    >
      <div class="mt-3 mb-2 container">
        <a href="#" class="navbar-brand d-none d-md-block">
          <h3 class="logo">Extension</h3>
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mx-auto mb-2">
            <li class="nav-item text-white">
              <a class="nav-link  text-white" href="#hero"
                >Home</a
              >
            </li>
            <li  class="nav-item text-white">
              <a class="nav-link text-white" href="#about">About</a>
            </li>
            <li class="nav-item text-white">
              <a class="nav-link text-white" href="#services"
                >Instructions</a
              >
            </li>
            <li class="nav-item text-white">
              <a class="nav-link text-white" href="#team">Team</a>
            </li>
            <li class="nav-item text-white">
              <a class="nav-link text-white" href="#contact"
                >Contact</a
              >
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item text-white">
              <a
                class="nav-link text-white scrollto"
                href="/medical"
                target="_blank"
                >Log-in</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Seção Hero -->

    <section id="hero" class="d-flex align-items-center">
      <div
        class="container position-relative"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row justify-content-center">
          <div class="col-xl-7 col-lg-9 text-center">
            <h1>
              Extension of support for the well-being of the IT professional.
            </h1>
            <h2>
              Extended support for the well-being of IT professionals,
              monitoring and helping to improve their productivity.
            </h2>
          </div>
        </div>
        <div class="text-center">
          <a
            href="https://github.com/ighormello/lazuli"
            target="_blank"
            class="btn-get-started scrollto"
            >GitHub Repo (File An Issue)
          </a>
          <a
            href="https://chrome.google.com/webstore/detail"
            target="_blank"
            class="btn-get-started scrollto"
            >Download on the Chrome Extension Store</a
          >
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- Seção Sobre -->
      <div data-aos="zoom-in" data-aos-delay="200">
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>About</h2>
              <p>
                Magnam dolores commodi suscipit. Necessitatibus eius consequatur
                ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
                quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
                Quia fugiat sit in iste officiis commodi quidem hic quas.
              </p>
            </div>
            <div class="row justify-content-md-center">
              <div class="row">
                <div
                  class="col-lg-3 col-md-6 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <img
                    class="screenshot"
                    src="../../static/assets/img/example-login.jpeg"
                    alt="screenshot"
                  />
                </div>
                <div
                  class="col-lg-4 col-md-6 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <img
                    class="screenshot"
                    src="../../static/assets/img/example-dark-mode.jpeg"
                    alt="screenshot"
                  />
                </div>
                <div
                  class="col-lg-4 col-md-6 d-flex align-items-stretch"
                  data-aos="zoom-in"
                  data-aos-delay="100"
                >
                  <img
                    class="screenshot"
                    src="../../static/assets/img/example.jpeg"
                    alt="screenshot"
                  />
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Seção de Instruções -->

      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Instruction</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem.
            </p>
          </div>

          <div class="row content">
            <div class="col-lg-6">
              <img
                class="screenshot"
                src="../../static/assets/img/example-water-remind.jpeg"
                alt="screenshot"
              />
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0">
              <div style="text-align: center; font-size: 18px">
                <p style="margin-top: 2.7rem">
                  1. Download the zipped directory from
                  <a href="https://github.com/ighormello/lazuli" target="_blank"
                    >https://github.com/ighormello/lazuli</a
                  >.
                </p>
                <p style="margin-top: 2.7rem">2. Unzip the directory.</p>
                <p style="margin-top: 2.7rem">
                  3. Navigate to
                  <a href="chrome://extensions/">chrome://extensions/</a> in
                  your Google Chrome browser window. --> (link doesn't work;
                  copy and paste)
                </p>
                <p style="margin-top: 2.7rem">4. Check to enable "Developer Mode."</p>
                <p style="margin-top: 2.7rem">5. Click "Load Unpacked Extension."</p>
                <p style="margin-top: 2.7rem">6. Upload the unzipped file directory.</p>
                <p style="margin-top: 2.7rem">7. Enjoy!</p>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- Seção da Equipe -->

      <section id="team" class="team section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Equipe</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row">
            <div
              class="
                d-flex
                justify-content-center
                align-items-center align-self-center
              "
            >
              <div
                class="col-lg-3 col-md-6 d-flex"
                data-aos="fade-up"
                data-aos-delay="100"
              >
                <div class="member">
                  <div class="member-img">
                    <img
                      src="https://avatars.githubusercontent.com/u/64975022?v=4"
                      class="img-fluid"
                      alt="Avatar"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a target="_blank" href="https://github.com/ighormello"><i class="bi bi-github"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a target="_blank" href="https://www.linkedin.com/in/ighor-augusto-3522011a2/"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Ighor Augusto Ribeiro Mello</h4>
                    <span>Developer</span>
                  </div>
                </div>
              </div>

              <div
                class="col-lg-3 col-md-6 d-flex align-items-stretch"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="member">
                  <div class="member-img">
                    <img
                      src="https://avatars.githubusercontent.com/u/60948849?v=4"
                      class="img-fluid"
                      alt="Avatar"
                    />
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a target="_blank" href="https://github.com/savio-2-lopes"><i class="bi bi-github"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a target="_blank" href="https://www.linkedin.com/in/savio-lopes/"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                  <div class="member-info">
                    <h4>Savio Augusto Lopes</h4>
                    <span>Developer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ======= Seção de perguntas frequentes ======= -->

      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Perguntas frequentes</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="faq-list">
            <ul>
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  class="collapse"
                  data-bs-target="#faq-list-1"
                >
                  Non consectetur a erat nam at lectus urna duis?
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div
                  id="faq-list-1"
                  class="collapse show"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
                    volutpat lacus laoreet non curabitur gravida. Venenatis
                    lectus magna fringilla urna porttitor rhoncus dolor purus
                    non.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-2"
                  class="collapsed"
                >
                  Feugiat scelerisque varius morbi enim nunc?
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div
                  id="faq-list-2"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Dolor sit amet consectetur adipiscing elit pellentesque
                    habitant morbi. Id interdum velit laoreet id donec ultrices.
                    Fringilla phasellus faucibus scelerisque eleifend donec
                    pretium. Est pellentesque elit ullamcorper dignissim. Mauris
                    ultrices eros in cursus turpis massa tincidunt dui.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-3"
                  class="collapsed"
                >
                  Dolor sit amet consecteturadipiscing elit?
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div
                  id="faq-list-3"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Eleifend mi in nulla posuere sollicitudin aliquam ultrices
                    sagittis orci. Faucibus pulvinar elementum integer enim. Sem
                    nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                    pellentesque eu tincidunt. Lectus urna duis convallis
                    convallis tellus. Urna molestie at elementum eu facilisis
                    sed odio morbi quis
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="300">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-4"
                  class="collapsed"
                >
                  Tempus quam pellentesque nec nam aliquam sem et tortor
                  consequat?
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>
                <div
                  id="faq-list-4"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Molestie a iaculis at erat pellentesque adipiscing commodo.
                    Dignissim suspendisse in est ante in. Nunc vel risus commodo
                    viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                    bibendum est. Purus gravida quis blandit turpis cursus in.
                  </p>
                </div>
              </li>

              <li data-aos="fade-up" data-aos-delay="400">
                <i class="bx bx-help-circle icon-help"></i>
                <a
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-list-5"
                  class="collapsed"
                >
                  Tortor vitae purus faucibus ornare. Varius vel pharetra vel
                  turpis nunc eget lorem dolor?
                  <i class="bx bx-chevron-down icon-show"></i>
                  <i class="bx bx-chevron-up icon-close"></i>
                </a>

                <div
                  id="faq-list-5"
                  class="collapse"
                  data-bs-parent=".faq-list"
                >
                  <p>
                    Laoreet sit amet cursus sit amet dictum sit amet justo.
                    Mauris vitae ultricies leo integer malesuada nunc vel.
                    Tincidunt eget nullam non nisi est sit amet. Turpis nunc
                    eget lorem dolor sed. Ut venenatis tellus in metus vulputate
                    eu scelerisque.
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Contato -->

      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Contato</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>

          <div class="row mt-5">
            <div class="col-lg-12 mt-5 mt-lg-0">
              <form action="" method="post" role="form" class="email-form">
                <div class="row">
                  <div class="col-md-6 form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="name"
                      placeholder="Seu nome"
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      id="email"
                      placeholder="Seu Email"
                      required
                    />
                  </div>
                </div>

                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    name="subject"
                    id="subject"
                    placeholder="Assunto"
                    required
                  />
                </div>

                <div class="form-group mt-3">
                  <textarea
                    class="form-control"
                    name="message"
                    rows="5"
                    placeholder="Mensagem"
                    required
                  ></textarea>
                </div>

                <div class="text-center mt-4">
                  <button type="submit">Enviar mensagem</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->

    <footer id="footer">
      <div class="container d-md-flex py-4">
        <div class="me-md-auto text-center text-md-start">
          <div class="copyright">
            &copy; Copyright <strong><span>Lazuli</span></strong
            >. All Rights Reserved
          </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
    </footer>

    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../../static/assets/js/utils.js"></script>
  </body>
</html>
