:root {
  --border-color: #3477db;
  --fill-color: #3477db;
  --hover-btn: #4884de
}

.button-one,
.button-two,
.button-three {
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  margin: 0 0 0 100px;
}

.button-two {
  border-radius: 4px;
  color: #fff;
  background-color: #3477db;
  border: none;
  width: 200px;
  transition: all 0.5s;
}

.button-two span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two:hover span {
  padding-right: 25px;
}

.button-two:hover span:after {
  opacity: 1;
  right: 0;
}

.remind-water {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.cup {
  background-color: #fff;
  border: 4px solid var(--fill-color);
  color: var(--fill-color);
  border-radius: 0 0 40px 40px;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.cup.cup-small {
  height: 95px;
  width: 50px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
  transition: 0.3s ease;
}

.cup.cup-small.full {
  background-color: var(--fill-color);
  color: #fff;
}

.cups {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 280px;
}

.remained {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  transition: 0.3s ease;
}

.remained span {
  font-size: 20px;
  font-weight: bold;
}

.remained small {
  font-size: 12px;
}

.percentage {
  background-color: var(--fill-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  height: 0;
  transition: 0.3s ease;
}

.timer {
  margin: 0 auto 0;
  background-color: var(--fill-color);
  color: #fff;
  border-radius: 10px;
  padding: 10px 0 20px;
}

.buttons {
  width: fit-content;
  margin: auto;
}

.countdown {
  clear: both;
  width: fit-content;
  margin: auto;
  font-size: 90px;
  font-weight: 500;
  padding: 20px;
}

.start-btn {
  width: 40px;
  margin: 10px auto 0;
  padding: 10px 30px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--fill-color);
  cursor: pointer;
}

.short-break-btn:hover,
.long-break-btn:hover,
.play:hover {
  background-color: var(--hover-btn);
}

.selected {
  background-color: var(--fill-color);
}

.current-task-display {
  width: 100%;
  padding-top: 30px;
  margin: auto;
  text-align: center;
}

.tasks-container {
  margin: auto;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  padding: 20px 10px;
  margin-bottom: 5px;
  background-color: white;
  color: black;
  border-radius: 5px;
}

select {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 21px;
  outline: none !important;
  border: 1px solid #509fc1 !important;
  color: #509fc1;
}

.button-timer {
  float: left;
  margin: 5px;
  cursor: pointer;
  padding: 8px;
  border-radius: 7px;
}

.right {
  float: right;
}

.delete-btn {
  padding: 10px;
  background-color: var(--fill-color);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.add-task-btn {
  width: 200px;
  margin: 0 auto 10px;
  background-color: var(--fill-color);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.task-form {
  clear: both;
  background-color: white;
  color: black;
  height: 100px;
  border-radius: 10px;
  padding: 15px;
}

.text {
  border: none;
  width: 95%;
  font-size: 18px;
  margin-bottom: 5px;
}

.est-pomodoro {
  margin: 10px 10px 0;
  width: 50px;
  padding: 5px;
}

.save,
.cancel {
  border: none;
  width: 60px;
  padding: 8px;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

@media (min-width: 400px) {
  .timer {
    width: 400px;
  }
}

@media (min-width: 470px) {
  .task-form {
    width: 470px;
  }
}

@media (min-width: 500px) {
  .tasks-container {
    width: 500px;
  }
}
