<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="feedback-form.html">

<dom-module id="lazuli-options-popup-v2">
  <template>
    <style>
      .intervention-icon {
        align: center;
        height: 50px;
        width: 50px;
        margin-right: 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #888888;
      }
    </style>

    <paper-dialog id="intervention_info_dialog" with-backdrop style="z-index: 9007199254740991;">
      <div style="display: flex; align-items: center; align-content:center;justify-content: center;">
        <img class="intervention-icon" src="{{get_intervention_icon_url()}}" />
        <h2 style="margin-right:25px;">{{intervention_name}}</h2>
      </div>

      <div style="text-align: left">
        <p style="text-align:center;">{{intervention_description}}</p>
        <div>
          <span>Desligue o alerta:</span>
          <paper-button on-click="disable_temp_callback"
            style="color: white; background-color: #3687D3; text-transform: none;">
            Para o resto desta visita
          </paper-button>

          <paper-button on-click="disable_perm_callback"
            style="color: white; background-color: #3687D3; text-transform: none;">
            Permanentemente
          </paper-button>
        </div>

        <br>

        <div>
          <span>Desabilita Lazuli:</span>
          <paper-button on-click="disable_lazuli_callback"
            style="color: white; background-color: #3687D3; text-transform: none;">
            Pelo resto de hoje
          </paper-button>
        </div>
      </div>

      <div class="buttons">
        <paper-button on-click="open_feedback_form">Cadastrar Feedback</paper-button>
        <paper-button on-click="open_interventions_page">Opção da Lazuli</paper-button>
        <paper-button dialog-dismiss>Fechar</paper-button>
      </div>
    </paper-dialog>
  </template>
  <script src="lazuli-options-popup-v2.js"></script>
</dom-module>