<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="misc-options">
  <template>
    <style>
      .card-content {
        font-size: 20px;
      }
    </style>
    <div class="card-content">
      <paper-checkbox checked="{{allow_daily_goal_notifications}}">
        <span class="checkbox_span">
          Mostre-me uma notificação de quantas metas eu atingi todos os dias à meia-noite
        </span>
      </paper-checkbox>

      <br>

      <paper-checkbox checked="{{allow_nongoal_timer}}">
        <span class="checkbox_span">
          Mostrar cronômetro para o tempo gasto em sites que não sejam sites de meta no ícone da barra de ferramentas
        </span>
      </paper-checkbox>
    </div>
  </template>
  <script src="misc-options.js"></script>
</dom-module>