{% extends "layouts/base-init.html" %} {% block title %} Home {% endblock %} {% block stylesheets %}{% endblock
  stylesheets %}
  {% block content %}

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}

  <script>
    Swal.fire({
      icon: "success",
      text: '{{ message }}',
      showConfirmButton: false,
      timer: 1500,
    });
  </script>

  {% endfor %}
  {% endif %}
  {% endwith %}

  <!-- Header -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-blue bg-light">
    <div class="container mt-3 mb-2">
      <a href="#" class="navbar-brand">
        <h4 class="logo">Lazuli</h4>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mx-auto">
          <a class="nav-link  text-white" href="#hero">Home</a>
          <a class="nav-link text-white" href="#about">About</a>
          <a class="nav-link text-white" href="#team">Team</a>
          <a class="nav-link text-white" href="#contact">Contact</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link text-white" href="/login">Log-in</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- Seção Hero -->

  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>
            Extension of support for the well-being of the IT professional.
          </h1>
          <h2>
            Extended support for the well-being of IT professionals,
            monitoring and helping to improve their productivity.
          </h2>
        </div>
      </div>
      <div class="text-center">
        <a href="https://github.com/IghorMello/Lazuli/archive/refs/heads/main.zip" class="btn-get-started scrollto">
          GitHub Repo (Download Extension Code)
        </a>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- Seção Sobre -->
    <div data-aos="zoom-in" data-aos-delay="200">
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>About</h2>
            <p>
              The proposal is to develop a corrective tool, in the form of a browser extension, focused on technology
              centers and software companies, with the objective of monitoring and providing support for the well-being of
              IT professionals, based on their problematic situation, and alleviating them, according to the recommended
              medical solution.
            </p>
          </div>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <img draggable="false" class="screenshot" src="../../static/assets/img/example-login.png"
                  alt="screenshot" />
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <img draggable="false" class="screenshot" src="../../static/assets/img/example-dark-mode.jpeg"
                  alt="screenshot" />
              </div>
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <img draggable="false" class="screenshot" src="../../static/assets/img/example.png" alt="screenshot" />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- Seção da Equipe -->

    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Team</h2>
          <p>
            Each member of the developer team is shown below, with their main networks for contacting and answering
            questions:
          </p>
        </div>

        <div class="row">
          <div class="
                  d-flex
                  justify-content-center
                  align-items-center align-self-center
                ">
            <div class="col-lg-3 col-md-5 align-items-stretch ml-1" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <div class="member-img">
                  <img draggable="false" src="https://avatars.githubusercontent.com/u/64975022?v=4" class="img-fluid"
                    alt="Avatar" />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a target="_blank" href="https://github.com/ighormello"><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/ighor-augusto-3522011a2/"><i
                        class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Ighor Augusto Ribeiro Mello</h4>
                  <span>Developer</span>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-5 align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <div class="member-img">
                  <img draggable="false" src="https://avatars.githubusercontent.com/u/60948849?v=4" class="img-fluid"
                    alt="Avatar" />
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a target="_blank" href="https://github.com/savio-2-lopes"><i class="bi bi-github"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/savio-lopes/"><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Savio Augusto Lopes</h4>
                  <span>Developer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contato -->

    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
          <p>
            Any questions about the functioning, bugs or ideas to be shared can be sent to the issues in the official
            repository, at the following link <a target="_blank"
              href="https://github.com/IghorMello/Lazuli/issues">https://github.com/IghorMello/Lazuli/issues</a>.
            If you want to get in touch about the application more directly, you can use the contact form below:
          </p>
        </div>

        <div class="row mt-5">
          <div class="col-lg-12 mt-5 mt-lg-0">
            <form method="POST" role="form" class="email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nome" required />
                  <label style="display:none" for="name">Nome</label>
                </div>

                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Seu E-mail" required />
                  <label style="display:none" for="email">E-mail</label>
                </div>
              </div>

              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required />
                <label style="display:none" for="subject">Subject</label>
              </div>

              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                <label style="display:none" for="message">Message</label>
              </div>

              <div class="text-center mt-4">
                <button type="submit">Send message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  <!-- Cookie Consent -->

  <div class="alert text-center cookie cookiealert" role="alert">
    This website uses cookies to improve your experience. It is assumed to be in accordance with practice, but you may elect not to allow this use.
    <a href="https://cookiesandyou.com/" target="_blank">Read more</a>
    <button type="button" class="btn btn-primary btn-sm acceptcookies">
      I accept
    </button>
  </div>

  <!-- Footer -->

  <footer id="footer">
    <div class="container d-md-flex py-4">
      <div class="me-md-auto mt-2 text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>Lazuli</span></strong>. All Rights Reserved
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer>

  <!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  {% endblock content %} {% block javascripts %}{% endblock javascripts %}
