{% extends "layouts/base-init.html" %} {% block title %} Login {% endblock %} {%
block stylesheets %}{% endblock stylesheets %} {% block content %}

<!-- Script -->

<script src="../../static/assets/js/admin/login-admin.js"></script>

<!-- Navegação -->

<nav class="navbar fixed-top navbar-expand-lg navbar-dark navbar-blue bg-light">
  <div class="container mt-3 mb-2">
    <a href="#" class="navbar-brand">
      <h4 class="logo">Lazuli</h4>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto"></div>
      <div class="navbar-nav">
        <a class="nav-link text-white" href="/">Home</a>
      </div>
    </div>
  </div>
</nav>

<!-- Conteúdo principal -->

<main
  class="container mt-5 position-relative"
  data-aos="fade-up"
  data-aos-delay="100"
>
  <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 login-form-1">
          <div id="login_form">
            <div class="text-center">
              <h1>Login</h1>
            </div>
          </div>
          <form method="post" id="login-form-admin" class="mt-5">
            <div class="form-floating">
              <input
                type="email"
                required
                class="form-control"
                id="email_admin_login"
                placeholder="name@example.com"
              />
              <label for="email_admin_login">E-mail</label>
            </div>
            <div class="form-floating mt-3">
              <input
                type="password"
                required
                class="form-control"
                id="password_admin_login"
                placeholder="Password"
              />
              <label for="password_admin_login">Password</label>
            </div>
            <div class="checkbox mb-3 mt-3">
              <label>
                <input type="checkbox" value="remember-me" /> Remember-me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
              Sign in
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<!-- Cookie Consent -->

<div class="alert text-center cookie cookiealert" role="alert">
  This website uses cookies to improve your experience. It is assumed to be in
  accordance with practice, but you may elect not to allow this use.
  <a href="https://cookiesandyou.com/" target="_blank">Read more</a>
  <button type="button" class="btn btn-primary btn-sm acceptcookies">
    I accept
  </button>
</div>

<!-- Footer -->

<footer id="footer">
  <div class="container d-md-flex py-4">
    <div class="me-md-auto mt-3 text-center text-md-start">
      <div class="copyright">
        &copy; Copyright <strong><span>Lazuli</span></strong
        >. All Rights Reserved
      </div>
    </div>
    <div class="social-links text-center text-md-right pt-3 pt-md-0">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</footer>

{% endblock content %} {% block javascripts %}{% endblock javascripts %}
